@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

:root {
  --font-color: #262626;
  --blue: #4e67eb;
  --border-color: #E6E6E6;
  --light-gray: rgba(0, 0, 0, 0.15);
  --box-shadow: 0 6px 1.5rem 0 var(--light-gray);
  --max-width: 975px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: var(--font-color);
  font-family: 'Inter', sans-serif;
}

.alert-box {
  background-color: #e74c3c;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding: 0.25rem 0.5rem;
  text-align: left;
}

.box {
  box-shadow: var(--box-shadow);
  border-radius: 1.25rem;
  margin-bottom: 1.5rem;
  position: relative;
  padding: 1rem 2.5rem;
  text-align: center;
}

.bx {
  font-size: 20px;
  pointer-events: none;
  transition: 300ms;
}

.bxs-check-circle {
  color: #90ee90;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

.bxs-x-circle {
  color: #e74c3c;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  max-width: 975px;
  width: 100vw;
}

.header {
  background-color: white;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: var(--max-width);
}

.nav-title {
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--font-color);
  display: block;
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  transition: 250ms;
}

.nav-link:hover {
  color: var(--blue);
}

.nav-button {
  background-color: var(--blue);
  color: white;
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
}

.nav-button:hover {
  color: white;
}

.error-box {
  background-color: #e74c3c;
  border-radius: 1rem;
  padding: 3px 8px;
  position: absolute;
  pointer-events: none;
  top: 0;
  transition: 300ms;
  max-width: 280px;
}

.error-box:before {
  background-color: #e74c3c;
  content: '';
  height: 8px;
  position: absolute;
  left: 2rem;
  bottom: -4px;
  transform: rotate(45deg);
  width: 8px;
}

.error-message {
  color: white;
  font-size: 12px;
  pointer-events: none;
}

.form {
  width: 380px;
}

.form-field {
  position: relative;
  width: 100%;
}

.form-label {
  color: var(--font-color);
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 300ms;
  left: 15px;
}

.form-row {
  margin: 1rem 0;
  position: relative;
}

.form-row.invalid {
  padding-top: 1rem;
}

.form-row.big-alert {
  padding-top: 2rem;
}

.select-button {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.select-button label {
  pointer-events: none;
}

.select-button.opened > i {
  transform: rotate(180deg);
}

.select-menu {
  background-color: rgba(230, 230, 230, 0.6);
  border-radius: 0.5rem;
  display: none;
  margin-top: 1rem;
  padding: 0.5rem 0.5rem;
  position: relative;
  text-align: left;
}

.select-menu.show {
  display: block;
}

.option {
  border-radius: 4px;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  width: 100%;
}

.option:hover {
  background-color: #fafafa;
}

.form-text {
  font-weight: 600;
}

.form-title {
  font-size: 2.5rem;
}

.hide {
  opacity: 0;
}

.input {
  background-color: rgba(230, 230, 230, 0.6);
  border: none;
  border-radius: 0.5rem;
  font-size: 18px;
  font-weight: 500;
  outline: none;
  padding: 12px 1rem;
  position: relative;
  transition: 300ms;
  width: 100%;
}

.input:focus, .opened {
  background-color: transparent;
  box-shadow: 0 4px 10px var(--light-gray);
}

.input:valid ~ .form-label {
  display: none;
}

.submit {
  background-color: var(--blue);
  backface-visibility: hidden;
  border-radius: 1.5rem;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto;
  padding: 1rem;
  transition: 300ms;
  -webkit-tap-highlight-color: transparent;
  width: 80%;
}

.submit:disabled {
  cursor: text;
  opacity: 0.6;
}

.link {
  color: var(--blue);
}

.profile-wrapper {
  width: 380px;
}

.profile-header {
  box-shadow: var(--box-shadow);
  border-radius: 1.25rem;
  padding: 1rem 0;
  position: relative;
  text-align: center;
  width: 80%;
}

.profile-content {
  text-align: center;
}

.bxs-user-circle {
  position: relative;
  top: 0;
  right: 0;
  transform: none;
  font-size: 3rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
